/*--------------------------------------------------------------
# General Styles
--------------------------------------------------------------*/

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px;
}



/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/

.resume {
  padding: 10px 0;
}

.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #333333;
}

.resume .resume-item {
  padding-bottom: 10px;
  margin-top: -2px;
  border-left: 2px solid #000000;
  padding-left: 20px;
}

.resume .resume-item h4 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #333333;
}

.resume .resume-item h5 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.resume .resume-item ul {
  list-style-type: square;
  padding-left: 20px; /* Add padding to align the list items */
  margin: 10px 0; /* Add margin for spacing */
  font-size: 14px; /* Set a smaller font size */
  line-height: 1.1; /* Adjust line height for readability */
}

.resume .resume-item ul li {
  padding-bottom: 5px;
}

.resume .education-item h4 {
    text-transform: none; /* Remove uppercase transformation */
    font-size: 18px; /* Ajuste o tamanho da fonte conforme necessário */
    font-weight: 600; /* Ajuste o peso da fonte conforme necessário */
    color: #333333; /* Ajuste a cor da fonte conforme necessário */
  }

.resume .education-item h5 {
    margin-left: 10px;
}

.resume .education-item p {
margin-left: 20px;
}

.resume .profissao-item h4 {
    text-transform: none; /* Remove uppercase transformation */
    font-size: 18px; /* Ajuste o tamanho da fonte conforme necessário */
    font-weight: 600; /* Ajuste o peso da fonte conforme necessário */
    color: #333333; /* Ajuste a cor da fonte conforme necessário */
    margin-top: 20px;
  }

.resume .profissao-item h5 {
    margin-left: 10px;
}

.resume .profissao-item p {
margin-left: 20px;
}



/*--------------------------------------------------------------
# Resume Item List
--------------------------------------------------------------*/

.resume-item ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: 'Arial', sans-serif; /* Change to your desired font */
  line-height: 1.4; /* Adjust line spacing */
}

.resume-item ul li {
  padding-bottom: 5px; /* Adjust padding between list items */
  font-size: 14px; /* Adjust font size if needed */
  color: #333; /* Adjust text color if needed */
}

.footer-info-curriculo {
  text-align: center;
  padding: 30px 0;
  background-color: #f8f8f8;
  color: #555555;
}

.footer-info-curriculo a.btn {
  background-color: #000000;
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.footer-info-curriculo a.btn:hover {
  background-color: #333333;
}

.section-icon {
  width: 24px; /* Adjust the size as needed */
  height: 24px; /* Adjust the size as needed */
  margin-right: 10px;
  vertical-align: middle;
}

/*--------------------------------------------------------------
# Education Titles
--------------------------------------------------------------*/

.education-title {
  text-transform: none; /* Remove uppercase transformation */
  font-size: 18px; /* Ajuste o tamanho da fonte conforme necessário */
  font-weight: 600; /* Ajuste o peso da fonte conforme necessário */
  color: #333333; /* Ajuste a cor conforme necessário */
}

/*--------------------------------------------------------------
Skill Section
--------------------------------------------------------------*/

.resume .resume-item2 {
  padding-bottom: 10px;
  margin-top: -2px;
  padding-left: 20px;
}

.resume-item2 .skill-item {
  margin-bottom: 10px; /* Espaçamento entre os itens de habilidade */
}

.skill-item h5 {
  font-size: 18px; /* Tamanho da fonte para os títulos das habilidades */
  font-weight: 600; /* Peso da fonte */
  color: #333333; /* Cor da fonte */
  margin-bottom: 5px; /* Espaçamento abaixo do título */
}

.skill-item ul {
  list-style-type: square; /* Tipo de marcador da lista */
  padding-left: 20px; /* Espaçamento à esquerda para alinhar os itens da lista */
  margin: 10px 0; /* Margem para espaçamento */
  font-size: 14px; /* Tamanho da fonte para os itens da lista */
  line-height: 1.4; /* Altura da linha para melhor legibilidade */
}

.skill-item ul li {
  margin-bottom: 5px; /* Espaçamento entre os itens da lista */
}

/*--------------------------------------------------------------
# Resume Item Skill Item
--------------------------------------------------------------*/

.skill-item {
  margin-bottom: 20px; /* Espaçamento entre os itens de habilidade */
}

.skill-item h5 {
  font-size: 18px; /* Tamanho da fonte para os títulos das habilidades */
  font-weight: 600; /* Peso da fonte */
  color: #333333; /* Cor da fonte */
  margin-bottom: 10px; /* Espaçamento abaixo do título */
}

.skill-item ul {
  list-style-type: square; /* Tipo de marcador da lista */
  padding-left: 20px; /* Espaçamento à esquerda para alinhar os itens da lista */
  margin: 10px 0; /* Margem para espaçamento */
  font-size: 14px; /* Tamanho da fonte para os itens da lista */
  line-height: 1.4; /* Altura da linha para melhor legibilidade */
}

.skill-item ul li {
  margin-bottom: 5px; /* Espaçamento entre os itens da lista */
}

.skill-level {
  font-weight: bold; /* Negrito para o nível de habilidade */
  color: #555; /* Cor para o nível de habilidade */
}

/*--------------------------------------------------------------
# Realization Topics
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Realization Topics
--------------------------------------------------------------*/

.realization {
  color: #444; /* Cor do texto */
  background-color: #f9f9f9; /* Cor de fundo para destaque */
  padding: 4px; /* Espaçamento interno */
  display: block; /* Garantir que ocupe a largura total */
}

.realization::before {
  content: "Realização: "; /* Texto a ser adicionado antes do conteúdo */
  font-weight: bold; /* Negrito para o texto adicionado */
  color: #000000; /* Cor do texto adicionado */
  display: inline-block; /* Exibir como bloco inline */
  margin-right: 1px; /* Espaçamento à direita */
}


footer {
  padding: 20px;
  background-color: #f8f9fa;
  border-top: 1px solid #e9ecef;
  margin-top: 20px;
}

footer p {
  margin: 0 0 10px;
  font-size: 16px;
  color: #333;
}

footer .btn {
  font-size: 16px;
  padding: 10px 20px;
  color: #fff;
  background-color: #000000;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

footer .btn:hover {
  background-color: #767676;
}