<!DOCTYPE html>

{% load static %} <!-- Nova linha que carrega os arquivos estáticos -->

<html>

  <head>
    <title>Django Form Exemplo</title>
       <style>
         body {
          font-family: Segoe UI;
         }
         .logo {
          float: left;
         }
         .logo img {
           width: 250px;
           padding: 20px;
         }
         .menu {
          float: right;
          padding: 40px;
          font-size: 15pt;
         }
         .menu a {
          margin-left: 15px;
          margin-right: 15px;
         }
         .bemvindo {
           clear: both;
           padding: 0 20px;
         }

         </style>
    </head>

    <body>
     <div class='logo'>
       <img src="{% static "images/logo.png" %}" alt="Logo da Devmedia" />
     </div>

     <div class='menu'>
       <a href="/django_app/sobre/">Sobre</a>
       <a href="/django_app/sair/">Sair</a>
     </div>

     <div class='bemvindo'>
       <h2>Bem vindo ao nosso Site Django Exemplo!</h2>
     </div>

    </body>

</html>